<% title "Home" %>

<% flash.each do |key, message| %>
    <%= content_tag(:div, message, :class => "flash #{key}") %>
<% end %>

<% if signed_in? %>
<div>
	<p>Welcome to taskoid, your personal task manager. Go ahead, create a new task!</p>
<div>
<% else %>
	<%= render 'sign_in' %>
<% end %>
